html {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgba(118, 89, 89, 0.338);
    height: 400vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    position: relative;
    right: 10px;
    font-size: 70px;
    text-align: center;
    top: 0px;
}

#Head_gif {
    height: 27vh;
    width: 10vw;
    position: relative;
    left: 85vw;
    top: -23vh;
}

.Bio {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    left: 65px;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    left: 65px;
    text-align: center;
}

/* Task1 */
.first_slider {
    background-size: cover;
    animation-name: slider1;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    width: 300px;
    height: 500px;
    position: relative;
    left: 2vw;

}

@keyframes slider1 {
    0% {
        background-image: url("images/1pic.jpg");
    }

    17% {
        background-image: url("images/2pic.jpg");
    }

    30% {
        background-image: url("images/3pic.jpg");
    }

    45% {
        background-image: url("images/4pic.jpg");
    }

    60% {
        background-image: url("images/5pic.jpg");
    }

    75% {
        background-image: url("images/6pic.jpg");
    }

    85% {
        background-image: url("images/7pic.jpg");
    }

    95% {
        background-image: url("images/8pic.webp");
    }

    100% {
        background-image: url("images/9pic.jpg");
    }
}

/* Task 2 */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.part1 {
    background-image: url(images/1pic.jpg);
    background-repeat: no-repeat;
    animation-name: slider2_1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    height: 500px;
    width: 300px;
    background-size: 300px 500px;
}

@keyframes slider2_1 {
    0% {
        background-image: url("images/1pic.jpg");
    }

    50% {
        background-image: url("images/2pic.jpg");
    }

    100% {
        background-image: url("images/3pic.jpg");
    }
}

.part2 {
    background-image: url("images/4pic.jpg");
    background-repeat: no-repeat;
    animation-name: slider2_2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    height: 500px;
    width: 300px;
    background-size: 300px 500px;
}

@keyframes slider2_2 {
    0% {
        background-image: url("images/4pic.jpg");
    }

    50% {
        background-image: url("images/5pic.jpg");
    }

    100% {
        background-image: url("images/6pic.jpg");
    }
}

.part3 {
    background-image: url("images/7pic.jpg");
    background-repeat: no-repeat;
    animation-name: slider2_3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    height: 500px;
    width: 300px;
    background-size: 300px 500px;
}

@keyframes slider2_3 {

    0% {
        background-image: url("images/7pic.jpg");
    }

    50% {
        background-image: url("images/8pic.webp");
    }

    100% {
        background-image: url("images/9pic.jpg");
    }
}

/* Task 3 */

.third_slider {
    height: 500px;
    width: 300px;
    background-size: 300px 500px;
    background-image: url("images/7pic.jpg");

}

.third_slider:hover {
    animation: slider3 3s infinite;
}


@keyframes slider3 {
    0% {
        background-image: url("images/7pic.jpg");
    }

    50% {
        background-image: url("images/5pic.jpg");
    }

    100% {
        background-image: url("images/1pic.jpg");
    }
}

.slider4_1 {
    background-size: 300px 500px;
    width: 300px;
    height: 500px;
    background-image: url("images/7pic.jpg");
}

.slider4_1:hover {
    animation: slider4 14s infinite;
}

@keyframes slider4 {
    0% {
        background-image: url("images/1pic.jpg");
    }

    17% {
        background-image: url("images/2pic.jpg");
    }

    30% {
        background-image: url("images/3pic.jpg");
    }

    45% {
        background-image: url("images/4pic.jpg");
    }

    60% {
        background-image: url("images/5pic.jpg");
    }

    75% {
        background-image: url("images/6pic.jpg");
    }

    85% {
        background-image: url("images/7pic.jpg");
    }

    95% {
        background-image: url("images/8pic.webp");
    }

    100% {
        background-image: url("images/9pic.jpg");
    }
}

#right_side {
    width: 60px;
    height: 60px;
}

#left_side {
    width: 60px;
    height: 60px;
}

#right_side:hover~.slider4_1 {
    animation-name: slider4 14s infinite;
}

#left_side:hover~.slider4_1 {
    animation-name: slider4 14s infinite;
}