body {
    background-color: rgba(118, 89, 89, 0.338);
    height: 100vh;
    width: 90vw;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    right: 10px;
    font-size: 70px;
    text-align: center;
    top: 0px;
}

#Head_gif {
    height: 27vh;
    width: 10vw;
    position: relative;
    left: 85vw;
    top: -23vh;
}

.Bio {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 175px;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    left: 65px;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    left: 65px;
    text-align: center;
}

.first_slider {
    background-size: cover;
    animation-name: slider1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 500px;
    abs left: 100vw;
}

@keyframes slider1 {
    0% {
        background-image: url("images\1pic.jpg");
    }

    15% {
        background-image: url("images\2pic.jpg");
    }

    30% {
        background-image: url("images\3pic.jpg");
    }

    45% {
        background-image: url("images\4pic.jpg");
    }

    60% {
        background-image: url("images\5pic.jpg");
    }

    75% {
        background-image: url("images\6pic.jpg");
    }

    85% {
        background-image: url("images\7pic.jpg");
    }

    95% {
        background-image: url("images\8pic.webp");
    }

    100% {
        background-image: url("images\9pic.jpg");
    }
}























































.first_pic {
    width: 40px;
    height: 50px;
    position: relative;
    left: 200px;
    top: 300vh;
    transform: rotate(180deg);
    display: inline
}

.second_pic {
    width: 40px;
    height: 50px;
    position: relative;
    left: 250px;
    top: 300vh;
    display: inline;

}